
/* &display=swap */

*,
*::before,
*::after {
   margin: 0;
   padding: 0;
   border: 0;
   box-sizing: border-box;
}
li {
   list-style: none;
}
a,
a:visited {  
   text-decoration: none;
}
a:hover {
   text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
   font-weight: inherit;
   font-size: inherit;
}
img {
   vertical-align: top;
}
html,
body {
   height: 100%;
}
html {
   font-size: 24px;
}
body {
   background-color: rgb(27, 27, 27);
}
.wrapper {
   min-height: 100%;
   overflow: hidden;
}
.header{
   text-align: center;
   font-weight: 700;
   padding: 20px;
   color:rgb(255, 255, 255)
}
.main{
   max-width: 1022px;
   margin: 0 auto;
}
.task{
   font-weight: 700;
   background-color: rgb(243, 255, 136);
   padding: 10px;
}

.task h1, h2, p {
   margin: 0px 0px 20px 0px;
}

.solution {
   font-weight: 700;
   background-color: rgb(195, 255, 134);
   padding: 10px;
}
.solution h1, h2, p{
   margin: 0px 0px 20px 0px;
}

.button{
   background-color: rgb(255, 133, 133);
   text-align: center;
   text-transform: uppercase;
   padding: 5px;
   border-radius: 5px;
   box-shadow: 5px 5px 10px;
   margin: 0px 0px 20px 0px;
   font-weight: 700;
}